* {
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 6px;
  background-color: #f1f1f1;
}
