.card {
  display: block;
  padding: 6px;
}

.card-mobile {
  display: block;
  padding: 6px;
  width: 200px;
  margin: auto;
}

.video-card {
  display: inline-block;
  padding: 6px;
  width: 50%;
}

.podcast-card {
  display: inline-block;
  padding: 6px;
  width: 33.33%;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.banner-ad {
  max-width: 740px;
  max-height: 102px;
  margin: auto;
  padding: 6px;
  overflow: hidden;
}

.banner-ad img {
  max-width: 100%;
}

.loader {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  width: 100%;
}

.comments-card {
  background-color: #fff;
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .podcast-card {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .banner-ad {
    margin: -6px -6px;
    padding: 6px 0;
  }

  .video-card {
    width: 100%;
  }

  .podcast-card {
    width: 100%;
  }
}

/* BEGIN PHOTO GALLERY EDIT BY INTERNS */
.alternating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-top: 0vh;
  padding-bottom: 2vh;
  background-color: white;

  margin-left: 6vw;
  margin-right: 6vw;
}

.big-centered-stream-container {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 4vh 8vw 4vh 8vw;
  background-color: white;
}

.row {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
}

.article-text {
  /* margin: 3vw; */
  /* we choose to use % instead of vw bc alternating has 'row' parent */
  padding-left: 3%;
  padding-right: 3%;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.75;
}

/* 
 * Same as .article-text, except smaller font size to 
 * better emphasize the photos rather than the text
 */
.article-text-gallery-mobile {
  font-family: 'Roboto', serif;
  text-align: left;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 3vh;
}

.article-text-large-gallery {
  /* margin: 3vw; */
  /* padding-left: 0;
  padding-right: 0;
  padding-top: 0.5vw;
  padding-bottom: 2vw; */
  margin-top: 0vh;
  margin-bottom: 0vh;

  display: inline-block;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.75;
  text-align: left;
}

.center-my-children {
  text-align: center;
}

.caption {
  display: flex;
  width: 40%;
  justify-self: center;
  margin: 1vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.75;
}

.credits{
  color: rgb(100, 100, 100);
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 0.9rem;
}

.img-col{
  display: block;
  margin: 1vw;
  width: 60%;
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.center-img-col {
  display: block;
  margin: auto;
  width: 80%;

}

.image {
  height: auto;
  width: 100%;
  justify-self: center;
  align-self: flex-start;
}


.center-photo {
  height: auto;
  width: 100%;
  margin-top: 1.5vh;
}

.big-center-photo {
  height: auto;
  width: 100%;
  justify-self: center;
  align-self: flex-start;
}

.related-links {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 1vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.75;
}




