* {
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 6px;
  background-color: #f1f1f1;
}

a {
  color: #0080c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
}

.card {
  display: block;
  padding: 6px;
}

.column {
  display: inline-block;
  vertical-align: top;
}
