.card {
  display: block;
  padding: 6px;
}

.video-card {
  display: inline-block;
  padding: 6px;
  width: 50%;
}

.podcast-card {
  display: inline-block;
  padding: 6px;
  width: 33.33%;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.banner-ad {
  max-width: 740px;
  max-height: 102px;
  margin: auto;
  padding: 6px;
  overflow: hidden;
}

.banner-ad img {
  max-width: 100%;
}

.loader {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  width: 100%;
}

.comments-card {
  background-color: #fff;
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .podcast-card {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .banner-ad {
    margin: -6px -6px;
    padding: 6px 0;
  }

  .video-card {
    width: 100%;
  }

  .podcast-card {
    width: 100%;
  }
}

/* BEGIN PHOTO GALLERY EDIT BY INTERNS */
.photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.caption{
  display: flex;
  width: 40vw;
  justify-self: center;
  margin: 3vw;
}

.image{
  display: flex;
  justify-self: center;
  align-self:flex-start;
  height: auto;
  width: 40vw;
  margin: 3vw;
}
